<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>
<th:block th:fragment= "bottomHeader">
    <div class="aa-header-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-header-bottom-area">
              <!-- logo  -->
              <div class="aa-logo">
                <a href="/"><img src="/images/logo.png" alt="logo img" width="100%"></a>
              </div>
              <!-- / logo  -->
              <!-- Shipping service -->
              <div class="aa-shipping-box">
                  <a class="aa-shipping-boxsmall">
                      <span class="aa-shipping-boxsmall-icon fas fa-shipping-fast"></span>
                      <span class="aa-shipping-box-text">
                          <div class="aa-shipping-title">Miễn phí vận chuyển</div>
                      <div class="">Khu vực TP HCM</div>
                      </span>
                      
                  </a>
                  <a class="aa-shipping-boxsmall">
                      <span class="aa-shipping-boxsmall-icon fas fa-phone"></span>
                      <span class="aa-shipping-box-text">
                          <div class="aa-shipping-title">Hỗ trợ: 037.7026.186</div>
                          <div class="">Tư vấn 24/7 miễn phí</div>
                      </span>
                      
                  </a>
                  <a class="aa-shipping-boxsmall">
                      <span class="aa-shipping-boxsmall-icon fas fa-shipping-fast"></span>
                      <span class="aa-shipping-box-text">
                          <div class="aa-shipping-title">Giao hàng toàn quốc</div>
                      <div class="">Đảm bảo uy tín, chất lượng</div>
                      </span>
                      
                  </a>
              </div>

               <!-- cart box -->
                <div class="aa-cartbox">
                    <a class="aa-cart-link" th:href="@{/cart}">
                        <span class="fas fa-cart-arrow-down"></span>
                        <span class="aa-cart-title">GIỎ HÀNG</span>
                        <span class="aa-cart-notify" th:if="${totalCartItems != 0 && totalCartItems !=null}">[[${totalCartItems}]]</span>
                    </a>
                    <div class="aa-cartbox-summary">
                        <div th:unless="${totalCartItems != 0 && totalCartItems !=null}">
                            <p>Chưa có sản phẩm nào trong giỏ hàng.</p>
                        </div>
                        <th:block th:if="${totalCartItems != 0 && totalCartItems !=null}">
                            <ul class="scroll-product">
                                <li th:each="item : ${cartItems}">
                                    <a class="aa-cartbox-img" th:href="@{/cart}"><img th:src="@{'/loadImage?imageName='+${item.product.productImage}}" alt="img"></a>
                                    <div class="aa-cartbox-info">
                                        <h4><a th:href="@{'/loadImage?imageName='+${item.product.productImage}}">[[${item.product.productName}]]</a></h4>
                                        <p>[[${item.quantity}]] x [[${#numbers.formatDecimal(item.product.price - (item.product.price * item.product.discount/100), 1, 'DEFAULT', 0, 'DEFAULT')}+'đ']]</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="total-detailproduct">
                                <span class="aa-cartbox-total-title">
                                  <b>Tổng: [[${#numbers.formatDecimal(totalPrice, 1, 'DEFAULT', 0, 'DEFAULT')}+ ' đ']]</b>
                                </span>
                                <span class="aa-cartbox-total-price">
                                </span>
                            </div>
                            <a class="aa-cartbox-checkout aa-primary-btn" th:href="@{/cart}">Chi tiết</a>
                            <a class="aa-cartbox-checkout aa-primary-btn" th:href="@{/checkout}">Thanh toán</a>
                        </th:block>
                    </div>
                </div>
              <!-- / cart box -->
                         
            </div>
          </div>
        </div>
      </div>
    </div>
</th:block>
</body>
</html>